<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Page Login</title>
</head>
<body>
    
    <div class="login-card">
        <h1>Welcome Back !</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <script type="text/javascript">
                const button = document.querySelector('#button');
                Swal.fire({
                    text: '{{ message }}',
                    icon: '{{ category }}',
                    confirmButtonText: 'Ok'
                  })
            </script>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h3>Enter you credentials</h3>
            <form class="login-form" method="post" action="{{ url_for('login') }}">
                <input type="email" placeholder="Email" id="email" name="email">
                <input type="password" placeholder="Password" id="password" name="password">
                <a href="#" class="a">Forgot Password ?</a>
                <a href="{{ url_for('register') }}">Don't have an account ?</a>
                <button type="submit">Sign In</button>
            </form>
    </div>

</body>
</html>